.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.list{
letter-spacing: 0;
word-spacing: 0;
}


.music-card:not( :last-child) {
 margin-right: 10px;

}
 
img{
    max-width: 100px;
    vertical-align: middle;
    height: auto;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
}
td {
    text-align: center;
}
